/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Amatic SC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Predefined Break-points
$mediaMaxWidth: 1260px;
$mediaTabletWidth: 960px;
$mediaMinWidth: 480px;

h1 {
  font-size: 36px;
  line-height: 1.7;

  @media screen and (min-width: $mediaMinWidth) and (max-width: $mediaTabletWidth) {
    font-size: 40px;
  }

  @media screen and (min-width: $mediaTabletWidth) {
    font-size: 48px;
  }
}

h2 {
  font-size: 24px;
  line-height: 1.7;

  @media screen and (min-width: $mediaMinWidth) and (max-width: $mediaTabletWidth) {
    font-size: 28px;
  }

  @media screen and (min-width: $mediaTabletWidth) {
    font-size: 34px;
  }
}

h3 {
  font-size: 20px;
  line-height: 1.7;

  @media screen and (min-width: $mediaMinWidth) and (max-width: $mediaTabletWidth) {
    font-size: 22px;
  }

  @media screen and (min-width: $mediaTabletWidth) {
    font-size: 28px;
  }
}

h4 {
  font-size: 20px;
  line-height: 1.7;

  @media screen and (min-width: $mediaTabletWidth) {
    font-size: 26px;
  }
}

p {
  font-size: 22px;
  line-height: 1.7;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
